<!-- Barra de Navegação -->
<nav class="navbar bavbar-light bg-dark">
    <div class="container">
        <a href="/" class="navbar-brand">
            <img src="/images/logo.png" width="70px">
        </a>
    </div>
</nav>